VITE_FIREBASE_API_KEY=AIzaSyCs_7gmTcAF2YbVmCc5NKKivLfxxxNLpQ4
VITE_FIREBASE_AUTH_DOMAIN=apph-k.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=apph-k
VITE_FIREBASE_STORAGE_BUCKET=apph-k.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=168538541526
VITE_FIREBASE_APP_ID=1:168538541526:web:5dcad01a877e54e86d6877
VITE_FIREBASE_MEASUREMENT_ID=G-RKLZG56EGG